@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   padding: 0;
   margin: 0;
}

* {
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
   font-family: var(--font-nunito-sans);
   color: #111;
   font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--font-figtree);
}

._1arac{
   position: relative !important;
   width: 100% !important;
   height:100% !important;
}

._3Z-ty{
   position: relative !important;
   width: 100% !important;
   height: 100% !important;
}

._7bGFk textarea{
   height:40px !important;
   background-color: aliceblue;
}

div._3-QIY ._29RsE div._WbCtG._K6sKX{
   background-color: #813531 !important;
   color:white !important;
}
div._3-QIY ._29RsE div._WbCtG._K6sKX:before{
   background-color: #813531 !important;
}